{% load static %}
<article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>
                    <div class="card-right">
                        <div class="card-right-content">
                        <div class="card-text">Text here</div>
                        </div>
                        <div class="card-right-bottom">
                            <div class="card-tags">
                                <input type="checkbox" class="checkbox" id="checkbox1" value="1" />
                                <label for="checkbox1" class="question-text">Correct!</label>
                            </div>
                        </div>

                    </div>
                </article>