{% load static %}
<div class="cards">
                <article class="new-card">
                    <div class="card-left">
                        <div class="question-text">Login</div>
                    </div>
                    <div class="card-right">
                        <textarea class="title-input" type="text" placeholder="Enter your login here.."></textarea>
                        <div class="error-text">Error!</div>
                    </div>
                </article>
                <article class="new-card">
                    <div class="card-left">
                        <div class="question-text">Email</div>
                    </div>
                    <div class="card-right">
                        <textarea class="title-input" type="text" placeholder="youremail@mail.ru"></textarea>
                        <div class="error-text">Error!</div>
                    </div>
                </article>
                <article class="new-card">
                    <div class="card-left">
                        <div class="question-text">NickName</div>
                    </div>
                    <div class="card-right">
                        <textarea class="title-input" type="text" placeholder="Enter your NickName here.."></textarea>
                        <div class="error-text">Error!</div>
                    </div>
                </article>
            </article>
            <article class="new-card">
                <div class="card-left">
                    <div class="question-text">Upload avatar</div>
                </div>
                <div class="card-right">
                    <div class="account-image-settings">
                        <img src="./image.jpg" alt="Image">
                    </div>
                    <div class="avatar">
                        <textarea class="image-path" type="text" placeholder="C:\..."></textarea>
                        <button class="button-avatar">choose</button>
                    </div>
                    <div class="error-text">Error!</div>
                </div>
            </article>
                <div class="pagination">
                    <button class="button-question">Save</button>
                </div>
            </div>