{% extends 'layouts/base.html' %}
{% load static %}

{% block account %}
    {% include 'layouts/not_reg_account.html' %}
{% endblock %}
        {% block titlebar %}
        <h1>New Questions</h1>
{% endblock %}
{% block content %}
<div class="cards">
<form action="#" class="input-form">
    <div class="cards">
        <article class="new-card">
            <div class="card-left">
                <label for="question-title" class="question-text">Title</label>
            </div>
            <div class="card-right">
                <textarea id="question-title" placeholder="Enter your question here.." style="resize: vertical;"></textarea>
                <div class="error-text">Error!</div>
            </div>
        </article>
        <article class="new-card">
            <div class="card-left">
                <label for="question-text" class="question-text">Text</label>
            </div>
            <div class="card-right">
                <textarea id="question-text" class="text-input" placeholder="Enter your text here.." style="resize: vertical;"></textarea>
                <div class="error-text">Error!</div>
            </div>
        </article>
        <article class="new-card">
            <div class="card-left">
                <label for="question-tags" class="question-text">Tags</label>
            </div>
            <div class="card-right">
                <textarea id="question-tags" class="title-input" placeholder="Enter tags here.." style="resize: vertical;"></textarea>
                <div class="error-text">Error!</div>
            </div>
        </article>
        <div class="pagination">
            <button type="submit" class="button-question">Ask!</button>
        </div>
    </div>
</form>
{% endblock %}