{% extends 'layouts/base.html' %}
{% load static %}

{% block account %}
    {% include 'layouts/reg_account.html' %}
{% endblock %}

{% block titlebar %}
<div class="title-bar">
            <h1>New Questions</h1>
            <a href="{% url 'hot' %}">Hot Questions</a>
        </div>

{% endblock %}

{% block content %}
            <div class="cards">
                {% for question in questions%}
                    {% include 'layouts/question.html' %}
                {% endfor %}

                {% include 'layouts/paginator.html' %}

{% endblock %}