{% extends 'layouts/base.html' %}
{% load static %}

{% block account %}
    {% include 'layouts/reg_account.html' %}
{% endblock %}

{% block titlebar %}
        <div class="title-bar">
            <h1>New Questions</h1>
            <a href="{% url 'index' %}">Main page</a>
        </div>

{% endblock %}
{% block content %}
<div class="cards">
    {% if questions %}
        {% for question in questions%}
            {% include 'layouts/question.html' %}
        {% endfor %}
    {% else %}
        <p>No questions found for this tag.</p>
    {% endif %}

    {% include 'layouts/paginator.html' %}

{% endblock %}