{% extends 'layouts/base.html' %}
{% load static %}

{% block account %}
    {% include 'layouts/reg_account.html' %}
{% endblock %}

{% block titlebar %}
<div class="title-bar">
            <h1>New Questions</h1>
            <a href="{% url 'index' %}">Main page</a>
        </div>

{% endblock %}

{% block content %}
            <div class="cards">
                {% include 'layouts/question.html' with question=item %}
                {% include 'layouts/answer.html' %}

                <div class="divider"></div>
                <textarea class="question-input" type="text" placeholder="Enter your answer here.."></textarea>
                <div class="pagination">
                    <button class="button-question">Answer!</button>
                </div>
{% endblock %}
