<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.6">
    <title>Settings</title>
    <link rel="stylesheet" href="./../static/css/settings.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            AskPupkin
        </div>
        <div class="search-form">
            <form action="#">
                <input class="search-form-input" type="text" placeholder="&#128269; Search">
                    <button class="search-form-button">Ask!</button>
            </form>
        </div>
        <div class="account">
            <div class="account-image">
                <img src="./image.jpg" alt="Image">
            </div>
            <div class="account-content">
                <div class="account-name">
                    Dr. Pepper
                </div>
                <div class="account-actions">
                    <a href="./settings.html">settings</a>
                    <a href="./login.html">log out</a>
                </div>
            </div>
        </div>
    </header>
    <div class="divider"></div>
    <main class="container">
        <div class="title-bar">
            <h1>Settings: </h1>
            <div class="tag-text">Dr. Pepper</div>
        </div>
        <div class="content">
            <div class="cards">
                <article class="card">
                    <div class="card-left">
                        <div class="question-text">Login</div>
                    </div>
                    <div class="card-right">
                        <textarea class="title-input" type="text" placeholder="Enter your login here.."></textarea>
                        <div class="error-text">Error!</div>
                    </div>
                </article>
                <article class="card">
                    <div class="card-left">
                        <div class="question-text">Email</div>
                    </div>
                    <div class="card-right">
                        <textarea class="title-input" type="text" placeholder="youremail@mail.ru"></textarea>
                        <div class="error-text">Error!</div>
                    </div>
                </article>
                <article class="card">
                    <div class="card-left">
                        <div class="question-text">NickName</div>
                    </div>
                    <div class="card-right">
                        <textarea class="title-input" type="text" placeholder="Enter your NickName here.."></textarea>
                        <div class="error-text">Error!</div>
                    </div>
                </article>
            </article>
            <article class="card">
                <div class="card-left">
                    <div class="question-text">Upload avatar</div>
                </div>
                <div class="card-right">
                    <div class="account-image-settings">
                        <img src="./image.jpg" alt="Image">
                    </div>
                    <div class="avatar">
                        <textarea class="image-path" type="text" placeholder="C:\..."></textarea>
                        <button class="button-avatar">choose</button>
                    </div>
                    <div class="error-text">Error!</div>
                </div>
            </article>
                <div class="pagination">
                    <button class="button-question">Save</button>
                </div>
            </div>
            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                    </div>
                </section>
                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>