{% extends 'layouts/base.html' %}
{% load static %}

{% block account %}
    {% include 'layouts/reg_account.html' %}
{% endblock %}

{% block titlebar %}
        <div class="title-bar">
            <h1>Questions tagged with "{{ tag }}"</h1>
        </div>

{% endblock %}
{% block content %}
<div class="cards">
{% if questions %}
    <ul>
        {% for question in questions %}
            <li>
                <a href="{% url 'one_question' question.id %}">{{ question.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No questions found for this tag.</p>
{% endif %}
{% endblock %}